
## map list

In [5]:
def hello(text):
    return text+"!^^!"

In [6]:
new_row = ["홍길동","이몽룡", "성춘향"]
for data in new_row:
    print(f'data : {data}')
    print("hello:", hello(data))
    print(f'hello:{hello(data)}')

data : 홍길동
hello: 홍길동!^^!
hello:홍길동!^^!
data : 이몽룡
hello: 이몽룡!^^!
hello:이몽룡!^^!
data : 성춘향
hello: 성춘향!^^!
hello:성춘향!^^!

In [7]:
list(map(hello, new_row)) # map(함수, iteral자료list)

['홍길동!^^!', '이몽룡!^^!', '성춘향!^^!']

In [8]:
int("224")

224

In [9]:
new_data2 = ["1", "34", "9"]
list( map(int, new_data2) )

[1, 34, 9]

In [10]:
new_data2 [3:] = map(int, new_data2)
new_data2

['1', '34', '9', 1, 34, 9]