In [1]:
range(10)

range(0, 10)

In [7]:
lst=list(range(0, 10))
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
lst2 = list(range(0,10,2))
lst2

[0, 2, 4, 6, 8]

In [10]:
sum(list(range(0,10,2)))

20

In [12]:
mx=[0]*2
mx

[0, 0]

In [13]:
data = [[ '1월', '1호선', '01', '서울역', 100, 200, 300, 400],
        [ '1월', '1호선', '02', '용산역', 300, 700, 200, 500],
        [ '1월', '1호선', '03', '신림역', 200, 800, 100, 200]]        

for row in data:
    print(f'row:{row}')
    for j in range(2):
        print(f'j={j}')
        print(f'j*2+4 : {j*2+4}')
    print("="*50)




### 리스트 - 데이터타입제한없음, 한줄에 저장되는 데이터 개수 제한 없음  ==> 느리다
### 넘파이배열 - 같은 타입 데이터만 저장가능, m X n 형태  ==> 빠르다   <===== 벡터연산
### 판다스데이터프레임 - 컬럼별로 같은 데이터가 들어가야 한다. ==> 저장방식 컬럼방식 가능 Nosql

In [2]:

import numpy as np
arr = np.array([
    [1,2],
    [3,4]
 ], dtype=np.int)
arr

array([[1, 2],
       [3, 4]])